/* Shared components */
section.organize, section.track, section.share{

  font-size: 1.2em;

  .first-col{
    font-size: 2.0em;
    padding-left: 10%;
  }

  .second-col{
    background: #fff;
    padding-bottom: 150px;
    padding-left: 3%;

    h3{
      color: #2C3237;
      font-weight: 500;
    }
  }

  ul.bullets{
    font-size: .8em;
    list-style-image: url('../img/bullet-dark.png');

    @include tablet{
      &{
        font-size: .6em;
      }
    }
    @include small-tablet{
      &{
        font-size: .6em;
      }
    }

    li{
      padding-bottom: 4px;
    }
  }

}

section.welcome{
  background: #444;
  box-shadow: 0 3px 4px rgba(0,0,0,.4);
  color: #fff;
  margin-bottom: 150px;
  padding: 75px 0;
  
  .title{
    font-family: blokletters;
    font-size: 4em;
    line-height: 128px;
    text-align: center;

    img{
      vertical-align: middle;
    }
  } 

}

section.features{
  padding-bottom: 150px;

  .organize, .track, .share{
    text-align: center;

    .title{
      font-size: 2.4em;
    }

    .img{
      background: #444444;
      border-radius: 50%;
      box-shadow: 0 0 4px #444;
      border: 4px solid #fff;
      margin: 10px auto 25px;
      max-width: 150px;
      width: 100%;
    }
  }

  @include phone{
    .track, .share{
      margin-top: 50px;
    }
  }

  .organize .img{
    background: url(../img/organize.png) no-repeat center center;
    background-size: cover;
  }

  @include desktop{
    &{
      margin: 0 10%;
    }
  }
}

section.organize{
  background: #e74c3c;

  ul.bullets{
    list-style-image: url('../img/bullet.png');
  }
  
  .first-col{
    color: #fff;

     @include phone{
      &{
        text-align: center;
        padding: 25px 0;
      }
    }
  }
  .second-col{

    .screens{
      text-align: center;
    }
  }
}

section.track{
  background: #F5F5F5;
}

section.share {
  background: #2C3237;
  color: #fff;


  ul.bullets{
    list-style-image: url('../img/bullet-light.png');
  }
}
