/**
 * Colors
 */
$dark-regular: #333333;
$light-regular: #f2f2f2;
$grey-regular: #eeeeee;
$grey-dark: #666666;
$grey-light: #d3d3d3;
$red-regular: #e74c3c;
$blue-regular: #3498db;
$green-regular: #2ecc71;
$turquoise-regular: #1abc9c;
$orange-regular: #e67e22;
$purple-regular: #9b59b6;
$yellow-regular: #E8C53A;

$font-color: $dark-regular;
$font-color-light: $light-regular;

$btn-gray: $grey-regular;
$btn-red: $red-regular;
$btn-green: $green-regular;
$btn-turquoise: $turquoise-regular;
$btn-orange: $orange-regular;
$btn-purple: $purple-regular;
$btn-blue: $blue-regular;
$btn-yellow: $yellow-regular;

$btn-hover-darken: 10%;